*{
	margin:0;
	padding:0;
}
h1{
	color:white;
}
h2{
	color:blue;
}
h3{
	color:red;
}
html{
	background: #14243d;
	background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
	width:100%;
	height:100%;
}

body{
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	color:white;
	position: relative;
}
.box1{
	padding-top:160px;
	padding-bottom:30px;
}
.button{
	padding: 5px;
    width: 196px;
}